//-
	Feedback page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	title #{$i18n.feedbackPage.metaTitle}
	meta(name="description", lang="uk", content="")
	meta(name="description", lang="ru", content="")
	meta(name="description", lang="en", content="")
	meta(property="og:title", lang="uk", content="")
	meta(property="og:title", lang="ru", content="")
	meta(property="og:title", lang="en", content="")
	meta(property="og:description", lang="uk", content="")
	meta(property="og:description", lang="ru", content="")
	meta(property="og:description", lang="en", content="")

block header
	+header('red-header')

block mobile-menu
	+mobile-menu('mobile-menu-red')
	
block extra-js
	script(src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js")
	script.
		$('#phone').inputmask({
			mask: '+38 (099) 999 99 99', 
			showMaskOnHover: false
		});

block main-content
	.inner-page-wrapper.feedback-page
		.feedback-page-content
			.container.main-container
				.flex-block
					.flex-left
						h1 Свяжитесь с нами!
						p Если у вас возникли вопросы, пожалуйста, заполните следующую контактную форму
					.flex-right
						form(action="../php/feedback-form-mailer.php", method="POST")
							.form-row
								.form-group.col-md-6
									label(for="first-name") #{$i18n.formFields.firstName}*
									input(type="text", name="firstName", class="form-control", id="first-name", placeholder="***", required)
								.form-group.col-md-6
									label(for="last-name") #{$i18n.formFields.lastName}*
									input(type="text", name="lastName", class="form-control", id="last-name", placeholder="***", required)
							.form-row
								.form-group.col-md-6
									label(for="email") #{$i18n.formFields.email}*
									input(type="email", name="email", class="form-control", id="email", placeholder="***", required)
								.form-group.col-md-6
									label(for="phone") #{$i18n.formFields.phone}*
									input(type="text", name="phone", class="form-control", id="phone", placeholder="***", required)
							.form-row
								.form-group.col-md-6
									label(for="website") #{$i18n.formFields.website}*
									input(type="text", name="website", class="form-control", id="website", placeholder="***")
								.form-group.col-md-6
									label(for="turnover") Оборот в месяц*
									select(name="turnover", class="form-control", id="turnover")
										option(value="one") У меня
										option(value="two") нет
										option(value="three") контента
										option(value="four") для
										option(value="five") этого
										option(value="six") селекта
							.form-row
								.form-group.col-md-12
									label(for="message") #{$i18n.formFields.message}**
									textarea(name="message", class="form-control", id="message", placeholder="***", cols="30", rows="1")
							.form-row
								button(type="submit", name="submit", class="btn-ghost-white") #{$i18n.formFields.submit}