//-
	Fines page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	title #{$i18n.fines.metaTitle}
	meta(name="description", content="#{$i18n.fines.metaDescription}")
	link(rel="canonical", href="#{$i18n.fines.canonical}")

block header
	+header('red-header')

block mobile-menu
	+mobile-menu('mobile-menu-red')

block extra-js
	script(src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js")
	script.
		$('#phone').inputmask("+38 (099) 999 99 99");

block main-content
	.inner-page-wrapper.fines-page
		.intro-block.red-intro-block
			.container.main-container
				h1 #{$i18n.fines.pageHeadline}
		.fines-content
			.first-block
				.container.main-container
					.flex-block.animatedParent.animateOnce(data-sequence='100')
						.flex-left.animated.fadeIn(data-id='1')
							h3 Оплата штрафів за порушення ПДР
							p Оплатіть штраф за порушення ПДР онлайн за допогою банківської карти VISA, MasterCard або ПРОСТІР
						.flex-right.animated.fadeIn(data-id='1')
							form(action="", method="POST")
								.form-row
									.form-group.col-md-6
										label(for="serie") Серія протокола*
										input(type="text", name="serie", class="form-control", id="serie", placeholder="***", required)
									.form-group.col-md-6
										label(for="number") Номер протокола*
										input(type="text", name="number", class="form-control", id="number", placeholder="***", required)
								.form-row
									.form-group.col-md-12
										label(for="full-name") ПІБ (з постанови)*
										input(type="text", name="fullName", class="form-control", id="full-name", placeholder="***", required)
								.form-row
									.form-group.col-md-12
										label(for="phone") #{$i18n.formFields.phone}*
										input(type="text", name="phone", class="form-control", id="phone", placeholder="***", required)
								.form-row
									input(type="submit" value="Продовжити")
			.last-block
				.container.main-container
					.flex-block.animatedParent.animateOnce(data-sequence='100')
						.flex-item
							img(src="../assets/images/fines/online.png", alt="Image", data-id='1').animated.fadeInDownShort
							h5.animated.fadeInDownShort(data-id='2') Онлайн оплата
							p.animated.fadeInDownShort(data-id='3') Онлайн зарахування коштів на рахунок казначейства
						.flex-item
							img(src="../assets/images/fines/bill.png", alt="Image", data-id='1').animated.fadeInDownShort
							h5.animated.fadeInDownShort(data-id='2') Електронний чек
							p.animated.fadeInDownShort(data-id='3') Електронний чек відразу після успішної оплати
						.flex-item
							img(src="../assets/images/fines/safe.png", alt="Image", data-id='1').animated.fadeInDownShort
							h5.animated.fadeInDownShort(data-id='2') Безпечні платежі
							p.animated.fadeInDownShort(data-id='3') Платежі захіщені стандартами PCI DSS Level 1
					.steps-block-desktop
						.img-wrapper.animatedParent.animateOnce(data-sequence='100')
							h3.animated.fadeIn(data-id='1') Як оплатити штраф за порушення ПДР?
							img(src="../assets/images/fines/how-to.svg", alt="How to", data-id='2').animated.fadeIn
							.num-wrapper.num-wrapper-1
								.num.animated.fadeIn(data-id='3') 1
								p.animated.fadeIn(data-id='4') Вкажіть номер, серію протокола, ПІБ та номер телефону
							.num-wrapper.num-wrapper-2
								.num.animated.fadeIn(data-id='5') 2
								p.animated.fadeIn(data-id='6') Вкажіть сумму до оплати
							.num-wrapper.num-wrapper-3
								.num.animated.fadeIn(data-id='7') 3
								p.animated.fadeIn(data-id='8') Введіть реквізити банківської карти та підтвердіть оплату
								p.desc.animated.fadeIn(data-id='9') Грошові кошти перераховуються на рахунок казначейства у режимі онлайн, а у підтверждення ви отримуєте чек на електронну адресу
					.steps-block-tablet.animatedParent.animateOnce(data-sequence='100')
						h3.animated.fadeIn(data-id='1') Як оплатити штраф за порушення ПДР?
						.img-wrapper
							img.animated.fadeIn(data-id='2', src="../assets/images/fines/how-to-tablet.svg", alt="How to")
							.num-wrapper.num-wrapper-1
								.num.animated.fadeIn(data-id='3') 1
								p.animated.fadeIn(data-id='4') Вкажіть номер, серію протокола, ПІБ та номер телефону
							.num-wrapper.num-wrapper-2
								.num.animated.fadeIn(data-id='5') 2
								p.animated.fadeIn(data-id='6') Вкажіть сумму до оплати
							.num-wrapper.num-wrapper-3
								.num.animated.fadeIn(data-id='7') 3
								p.animated.fadeIn(data-id='8') Введіть реквізити банківської карти та підтвердіть оплату
								p.desc.animated.fadeIn(data-id='9') Грошові кошти перераховуються на рахунок казначейства у режимі онлайн, а у підтверждення ви отримуєте чек на електронну адресу
					.steps-block-mobile.animatedParent.animateOnce(data-sequence='100')
						h3.animated.fadeIn(data-id='1') Як оплатити штраф за порушення ПДР?
						.img-wrapper
							.num-wrapper.num-wrapper-1.animated.fadeIn(data-id='2')
								.num 1
								p Вкажіть номер, серію протокола, ПІБ та номер телефону
							.num-wrapper.num-wrapper-2.animated.fadeIn(data-id='3')
								.num 2
								p Вкажіть сумму до оплати
							.num-wrapper.num-wrapper-3.animated.fadeIn(data-id='4')
								.num 3
								.flex-block
									p Введіть реквізити банківської карти та підтвердіть оплату
									p.desc Грошові кошти перераховуються на рахунок казначейства у режимі онлайн, а у підтверждення ви отримуєте чек на електронну адресу
							img.animated.fadeIn(data-id='5', src="../assets/images/fines/how-to-mobile.png", alt="How to")