//-
	Home page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	title #{$i18n.homePage.metaTitle}
	meta(name="description", content="#{$i18n.homePage.metaDescription}")
	link(rel="canonical", href="#{$i18n.homePage.canonical}")

block mobile-menu
	+mobile-menu('mobile-menu-red')

block main-content
	.home-page
		.first-screen
			block home-page-header
				+header('red-header')
			.container.main-container
				h1 #{$i18n.homePage.bannerHeadline}
				p #{$i18n.homePage.bannerSubHeadline}
				.btn-wrapper
					a.btn-white(href="https://account.uapay.ua/auth/register", target="_blank") #{$i18n.homePage.bannerBtn}
		.business-block
			.container.main-container.animatedParent.animateOnce(data-sequence='100')
				.block-top-half
					.flex-left
						h4.animated.fadeIn(data-id='1') #{$i18n.homePage.forBusinessBlockHeadline}
					.flex-right
						p.animated.fadeIn(data-id='1') #{$i18n.homePage.forBusinessBlockDesc}
				.block-bottom-half
					.flex-left.animated.fadeIn(data-id='2')
						.headline.animated.fadeIn(data-id='3') #{$i18n.homePage.forBusinessItem1Title}
						p.animated.fadeIn(data-id='4') #{$i18n.homePage.forBusinessItem1Desc}
						.btn-wrapper.animated.fadeIn(data-id='5'): a.connect-btn(href="uapay-checkout") #{$i18n.homePage.detailLink}
					.flex-right.animated.fadeIn(data-id='2')
						.headline.animated.fadeIn(data-id='3') #{$i18n.homePage.forBusinessItem2Title}
						p.animated.fadeIn(data-id='4') #{$i18n.homePage.forBusinessItem2Desc}
						.btn-wrapper.animated.fadeIn(data-id='5'): a.connect-btn(href="mass-payouts") #{$i18n.homePage.detailLink}
		.solutions-block
			.container.main-container.animatedParent.animateOnce(data-sequence='100')
				.block-top-half
					.flex-left
						h5.animated.fadeIn(data-id='1') #{$i18n.homePage.industrySolutionsBlockHeadline}
					.flex-right
						hr.animated.fadeIn(data-id='1')
				.block-bottom-half
					.flex-left.animated.fadeIn(data-id='2')
						.content-wrapper#tab1C
							include includes/svg/home-page/_marketplaces.pug
						.content-wrapper#tab2C
							include includes/svg/home-page/_online-retail.pug
						.content-wrapper#tab3C
							include includes/svg/home-page/_tourism.pug
						.content-wrapper#tab4C
							include includes/svg/home-page/_taxi.pug
						.content-wrapper#tab5C
							include includes/svg/home-page/_money.pug
					.flex-right.animated.fadeIn#tab1(data-id='2')
						#tabs
							span#tab1 #{$i18n.industrySolutions.block1Headline}
							span#tab2 #{$i18n.industrySolutions.block2Headline}
							span#tab3 #{$i18n.industrySolutions.block3Headline}
							span#tab4 #{$i18n.industrySolutions.block4Headline}
							span#tab5 #{$i18n.industrySolutions.block5Headline}
						a.connect-btn(href="industry-solutions") #{$i18n.homePage.detailLink}
				.block-bottom-half-mobile
					.svg-wrapper.animated.fadeIn(data-id='2')
						include includes/svg/home-page/_marketplaces.pug
						.text #{$i18n.industrySolutions.block1Headline}
					.svg-wrapper.animated.fadeIn(data-id='3')
						include includes/svg/home-page/_online-retail.pug
						.text #{$i18n.industrySolutions.block2Headline}
					.svg-wrapper.animated.fadeIn(data-id='4')
						include includes/svg/home-page/_tourism.pug
						.text #{$i18n.industrySolutions.block3Headline}
					.svg-wrapper.animated.fadeIn(data-id='5')
						include includes/svg/home-page/_taxi.pug
						.text #{$i18n.industrySolutions.block4Headline}
					.svg-wrapper.animated.fadeIn(data-id='6')
						include includes/svg/home-page/_money.pug
						.text #{$i18n.industrySolutions.block5Headline}
		+trust
		+partners('extra-padding')
		+preferences('red-background')
		.user-block
			.container.main-container.animatedParent.animateOnce(data-sequence='100')
				.block-top-half
					.flex-left
						h4.animated.fadeIn(data-id='1') #{$i18n.homePage.forCustomersBlockHeadline}
					.flex-right
						p.animated.fadeIn(data-id='1') #{$i18n.homePage.forCustomersBlockDesc}
				.block-bottom-half
					.flex-left.animated.fadeIn(data-id='2')
						.headline.animated.fadeIn(data-id='3') #{$i18n.homePage.forCustomersItem1Title}
						p.animated.fadeIn(data-id='4') #{$i18n.homePage.forCustomersItem1Desc}
						.btn-wrapper.animated.fadeIn(data-id='5'): a.connect-btn(href="javascript:void(0);") #{$i18n.homePage.finesLink}
					.flex-right.animated.fadeIn(data-id='2')
						.headline.animated.fadeIn(data-id='3') #{$i18n.homePage.forCustomersItem2Title}
						p.animated.fadeIn(data-id='4') #{$i18n.homePage.forCustomersItem2Desc}
						.btn-wrapper.animated.fadeIn(data-id='5'): a.connect-btn(href="https://escrowbox.uapay.ua/ads", target="_blank") #{$i18n.homePage.payLink}
						.btn-wrapper.animated.fadeIn(data-id='6'): a.connect-btn(href="https://escrowbox.uapay.ua/ad", target="_blank") #{$i18n.homePage.createLink}
		+developers('black-background', '../assets/images/svg/api-cms-black.svg')
		//.news-block
			.container.main-container
				h4 #{$i18n.homePage.newsBlockHeadline}
				.news-list.row.animatedParent.animateOnce(data-sequence='100')
					a.news-item.col-xl-3.col-lg-6.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='1')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quasi, veritatis corporis obcaecati culpa, officia rerum ducimus aliquam voluptates dicta id, exercitationem modi. Accusamus possimus recusandae impedit fugit. Ut, quidem!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa neque inventore necessitatibus sed itaque veritatis fuga natus corrupti, officia similique recusandae quisquam ipsam id? Iure deleniti ea vel dolore.
					a.news-item.col-xl-3.col-lg-6.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='2')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla officiis totam nostrum enim necessitatibus? Deleniti veniam odio amet facilis. Error suscipit odio iste quia facilis ea dolorum sequi, at sunt!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat recusandae vel dolore enim, eveniet qui nesciunt? Tenetur, nostrum voluptatum nulla blanditiis numquam ullam fugit quae expedita voluptatem dignissimos autem provident!
					a.news-item.col-xl-3.col-lg-6.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='3')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi possimus ad quasi culpa exercitationem necessitatibus voluptatem fugiat ratione nulla, nesciunt at, neque eum sunt, asperiores iusto ducimus. Libero, cum earum.
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia cumque non dolorem, laborum, incidunt molestiae omnis molestias cum quisquam voluptatum dolores deleniti quibusdam ipsum illum eius placeat ad architecto! Neque?
					a.news-item.col-xl-3.col-lg-6.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='4')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus recusandae eligendi dolorum! Aperiam sit vitae soluta voluptates dignissimos, explicabo animi autem, recusandae ipsam, perspiciatis consectetur labore vel dolore. Natus, eligendi!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolore repudiandae recusandae quia, consequuntur eaque amet voluptas in qui vitae deleniti, fuga minima. Perferendis, nisi dolorem officia quo voluptatibus vel.
				.btn-wrapper
					a.more-news-btn(href="news") #{$i18n.homePage.newsBlockLink}