//-
	Industry solutions page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	title #{$i18n.industrySolutions.metaTitle}
	meta(name="description", content="#{$i18n.industrySolutions.metaDescription}")
	link(rel="canonical", href="#{$i18n.industrySolutions.canonical}")

block header
	+header('red-header')

block mobile-menu
	+mobile-menu('mobile-menu-red')

block main-content
	.inner-page-wrapper.industry-solutions-page
		.intro-block.red-intro-block
			.container.main-container
				h1 #{$i18n.industrySolutions.pageHeadline}
				.scroll-menu
					ul
						li#first-trigger #{$i18n.industrySolutions.block1Headline}
						li#second-trigger #{$i18n.industrySolutions.block2Headline}
						li#third-trigger #{$i18n.industrySolutions.block3Headline}
						li#fourth-trigger #{$i18n.industrySolutions.block4Headline}
						li#fifth-trigger #{$i18n.industrySolutions.block5Headline}
		.industry-solutions-content
			.first-block
				.container.main-container
					.solution-item.animatedParent.animateOnce(data-sequence='200')#first-block
						.flex-left.animated.fadeInDownShort(data-id='1')
							h4 #{$i18n.industrySolutions.block1Headline}
							include includes/svg/industry-solutions/_marketplaces.pug
						.flex-right.animated.fadeInDownShort(data-id='2')
							p #{$i18n.industrySolutions.block1Desc1}
							dl
								dt #{$i18n.industrySolutions.block1SubHeadline1}
								dd #{$i18n.industrySolutions.block1Desc2}
								dt #{$i18n.industrySolutions.block1SubHeadline2}
								dd #{$i18n.industrySolutions.block1Desc3}
							a.connect-btn.animated.pulse.infinite(href="https://account.uapay.ua/auth/register") #{$i18n.industrySolutions.connect}
					.solution-item.animatedParent.animateOnce(data-sequence='200')#second-block
						.flex-left.animated.fadeInDownShort(data-id='3')
							h4 #{$i18n.industrySolutions.block2Headline}
							include includes/svg/industry-solutions/_online-retail.pug
						.flex-right.animated.fadeInDownShort(data-id='4')
							p #{$i18n.industrySolutions.block2Desc1}
							dl
								dt #{$i18n.industrySolutions.block2SubHeadline1}
								dd #{$i18n.industrySolutions.block2Desc2}
								dt #{$i18n.industrySolutions.block2SubHeadline2}
								dd #{$i18n.industrySolutions.block2Desc3}
							a.connect-btn.animated.pulse.infinite(href="https://account.uapay.ua/auth/register") #{$i18n.industrySolutions.connect}
					.solution-item.animatedParent.animateOnce(data-sequence='200')#third-block
						.flex-left.animated.fadeInDownShort(data-id='5')
							h4 #{$i18n.industrySolutions.block3Headline}
							include includes/svg/industry-solutions/_tourism.pug
						.flex-right.animated.fadeInDownShort(data-id='6')
							p #{$i18n.industrySolutions.block3Desc1}
							dl
								dt #{$i18n.industrySolutions.block3SubHeadline1}
								dd #{$i18n.industrySolutions.block3Desc2}
								dt #{$i18n.industrySolutions.block3SubHeadline2}
								dd #{$i18n.industrySolutions.block3Desc3}
							a.connect-btn.animated.pulse.infinite(href="https://account.uapay.ua/auth/register") #{$i18n.industrySolutions.connect}
					.solution-item.animatedParent.animateOnce(data-sequence='200')#fourth-block
						.flex-left.animated.fadeInDownShort(data-id='7')
							h4 #{$i18n.industrySolutions.block4Headline}
							include includes/svg/industry-solutions/_taxi.pug
						.flex-right.animated.fadeInDownShort(data-id='8')
							p #{$i18n.industrySolutions.block4Desc1}
							dl
								dt #{$i18n.industrySolutions.block4SubHeadline1}
								dd #{$i18n.industrySolutions.block4Desc2}
								dt #{$i18n.industrySolutions.block4SubHeadline2}
								dd #{$i18n.industrySolutions.block4Desc3}
							a.connect-btn.animated.pulse.infinite(href="https://account.uapay.ua/auth/register") #{$i18n.industrySolutions.connect}
					.solution-item.animatedParent.animateOnce(data-sequence='200')#fifth-block
						.flex-left.animated.fadeInDownShort(data-id='9')
							h4 #{$i18n.industrySolutions.block5Headline}
							include includes/svg/industry-solutions/_money.pug
						.flex-right.animated.fadeInDownShort(data-id='10')
							p #{$i18n.industrySolutions.block5Desc1}
							dl
								dt #{$i18n.industrySolutions.block5SubHeadline1}
								dd #{$i18n.industrySolutions.block5Desc2}
								dt #{$i18n.industrySolutions.block5SubHeadline2}
								dd #{$i18n.industrySolutions.block5Desc3}
							a.connect-btn.animated.pulse.infinite(href="https://account.uapay.ua/auth/register") #{$i18n.industrySolutions.connect}
			block developers-block
				+developers('gray-background', '../assets/images/svg/api-cms.svg')