//-
	Legal info page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	title #{$i18n.legalInfo.metaTitle}
	meta(name="description", content="#{$i18n.legalInfo.metaDescription}")
	link(rel="canonical", href="#{$i18n.legalInfo.canonical}")

block header
	+header('black-header')

block mobile-menu
	+mobile-menu('mobile-menu-black')

block main-content
	.inner-page-wrapper.legal-page
		.intro-block.black-intro-block
			.container.main-container
				h3 #{$i18n.legalInfo.pageHeadline}
		.legal-page-content.black-page-content
			.container.main-container.animatedParent.animateOnce(data-sequence='100')
				a.special-link.animated.fadeInDownShort(href="terms-of-use", data-id='1')
					span #{$i18n.legalInfo.link1}
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeInDownShort(href="transfer-supply-conditions", data-id='2')
					span #{$i18n.legalInfo.link2}
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeInDownShort(href="info-uapay", data-id='3')
					span #{$i18n.legalInfo.link3}
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeInDownShort(href="financial-statements", data-id='4')
					span #{$i18n.legalInfo.link4}
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeInDownShort(href="info-aihama", data-id='5')
					span #{$i18n.legalInfo.link5}
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeInDownShort(href="privacy-policy", data-id='6')
					span #{$i18n.legalInfo.link6}
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeInDownShort(href="website-modus-operandi", data-id='7')
					span #{$i18n.legalInfo.link7}
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeInDownShort(href="cookies-policy", data-id='8')
					span #{$i18n.legalInfo.link8}
					include includes/svg/_arrow-right.pug