//-
	Mass payouts page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	title #{$i18n.bulkPayments.metaTitle}
	meta(name="description", content="#{$i18n.bulkPayments.metaDescription}")
	link(rel="canonical", href="#{$i18n.bulkPayments.canonical}")

block header
	+header('red-header')

block mobile-menu
	+mobile-menu('mobile-menu-red')
	
block main-content
	.inner-page-wrapper.mass-payouts-page
		.intro-block.red-intro-block
			.container.main-container
				h1 #{$i18n.bulkPayments.pageHeadline}
		.mass-payouts-content
			.first-block
				.container.main-container
					.animatedParent.animateOnce
						p.intro-text.animated.growIn
							b #{$i18n.bulkPayments.pageIntro}
					.flex-block.animatedParent.animateOnce(data-sequence='200')
						.flex-item.animatedParent.animateOnce
							figure.animated.rotateIn.slower(data-id='1')
								img(src="../assets/images/mass-payouts/settings.png", alt="Image")
							h5.animated.fadeInDownShort(data-id='2') #{$i18n.bulkPayments.block1Title1}
							p.animated.fadeInDownShort(data-id='3') #{$i18n.bulkPayments.block1Desc1}
						.flex-item
							figure.animated.rotateIn.slower(data-id='1')
								img(src="../assets/images/mass-payouts/profile.png", alt="Image")
							h5.animated.fadeInDownShort(data-id='2') #{$i18n.bulkPayments.block1Title2}
							p.animated.fadeInDownShort(data-id='3') #{$i18n.bulkPayments.block1Desc2}
						.flex-item
							figure.animated.rotateIn.slower(data-id='1')
								img(src="../assets/images/mass-payouts/prices.png", alt="Image")
							h5.animated.fadeInDownShort(data-id='2') #{$i18n.bulkPayments.block1Title3}
							p.animated.fadeInDownShort(data-id='3') #{$i18n.bulkPayments.block1Desc3}
					h4.text-center #{$i18n.bulkPayments.perfectBlockHeadline}
					.preferences-block.animatedParent.animateOnce(data-sequence='200')
						.preference-col.animated.fadeIn(data-id='1')
							.preference-item
								figure.animated.fadeInDownShort(data-id='2')
									img(src="../assets/images/mass-payouts/money.png", alt="Image", style="width: 48px; height: 48px;")
								h3.animated.fadeInDownShort(data-id='3') #{$i18n.bulkPayments.perfectBlockItem1Title}
								p.animated.fadeInDownShort(data-id='4') #{$i18n.bulkPayments.perfectBlockItem1Desc}
						.preference-col.animated.fadeIn(data-id='5')
							.preference-item
								figure.animated.fadeInDownShort(data-id='6')
									img(src="../assets/images/mass-payouts/cleaning.png", alt="Image", style="width: 48px; height: 48px;")
								h3.animated.fadeInDownShort(data-id='7') #{$i18n.bulkPayments.perfectBlockItem2Title}
								p.animated.fadeInDownShort(data-id='8') #{$i18n.bulkPayments.perfectBlockItem2Desc}
						.preference-col.animated.fadeIn(data-id='9')
							.preference-item
								figure.animated.fadeInDownShort(data-id='10')
									img(src="../assets/images/mass-payouts/marketing.png", alt="Image", style="width: 48px; height: 48px;")
								h3.animated.fadeInDownShort(data-id='11') #{$i18n.bulkPayments.perfectBlockItem3Title}
								p.animated.fadeInDownShort(data-id='12') #{$i18n.bulkPayments.perfectBlockItem3Desc}
						.preference-col.animated.fadeIn(data-id='13')
							.preference-item
								figure.animated.fadeInDownShort(data-id='14')
									img(src="../assets/images/mass-payouts/taxi.png", alt="Image", style="width: 48px; height: 48px;")
								h3.animated.fadeInDownShort(data-id='15') #{$i18n.bulkPayments.perfectBlockItem4Title}
								p.animated.fadeInDownShort(data-id='16') #{$i18n.bulkPayments.perfectBlockItem4Desc}
							p.other.animated.fadeInDownShort(data-id='17') #{$i18n.bulkPayments.perfectBlockOutro}
			.second-block
				.container.main-container.animatedParent.animateOnce(data-sequence='200')
					h4.animated.fadeIn(data-id='1') #{$i18n.bulkPayments.tariffBlockHeadline}
					ul
						li.animated.fadeIn(data-id='2') #{$i18n.bulkPayments.tariffItem1}
						li.animated.fadeIn(data-id='3') #{$i18n.bulkPayments.tariffItem2}
						li.animated.fadeIn(data-id='4') #{$i18n.bulkPayments.tariffItem3}
						li.animated.fadeIn(data-id='5') #{$i18n.bulkPayments.tariffItem4}
					a.btn-white.animated.fadeIn(data-id='6', href="https://business.uapay.ua/about/contacts/", target="_blank") #{$i18n.uapayCheckout.tariffsRightBlockBtn}
			block developers-block
				+developers