//-
	Partnership page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.ua/partnership'
	)

block header
	+header('red-header')

block mobile-menu
	+mobile-menu('mobile-menu-red')

block extra-js
	script(src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js")
	script.
		$('#phone').inputmask("+38 (099) 999 99 99");

block main-content
	.inner-page-wrapper.partnership-page
		.intro-block.red-intro-block
			.container.main-container
				h1 #{$i18n.partnership.pageHeadline}
		.partnership-page-content
			.first-block.animatedParent.animateOnce(data-sequence='100')
				.container.main-container
					p.animated.fadeIn(data-id='1') #{$i18n.partnership.introLine1}
					p.animated.fadeIn(data-id='2') #{$i18n.partnership.introLine2}
					.flex-block
						.flex-item
							figure
								img.animated.rotateIn.slower(data-id='3', src="../assets/images/partnership/prices.png", alt="Image")
								figcaption.description.animated.fadeIn(data-id='4') #{$i18n.partnership.icon1Desc}
						.flex-item
							figure
								img.animated.rotateIn.slower(data-id='5', src="../assets/images/partnership/settings.png", alt="Image")
								figcaption.description.animated.fadeIn(data-id='6') #{$i18n.partnership.icon2Desc}
						.flex-item
							figure
								img.animated.rotateIn.slower(data-id='7', src="../assets/images/partnership/payments.png", alt="Image")
								figcaption.description.animated.fadeIn(data-id='8') #{$i18n.partnership.icon3Desc}
						.flex-item
							figure
								img.animated.rotateIn.slower(data-id='9', src="../assets/images/partnership/time.png", alt="Image")
								figcaption.description.animated.fadeIn(data-id='10') #{$i18n.partnership.icon4Desc}
			.second-block
				.container.main-container
					.clients-block.animatedParent.animateOnce(data-sequence='100')
						h4.animated.fadeIn(data-id='1') #{$i18n.partnership.clientsBlockHeadline}
						.flex-block
							.flex-left
								.flex-item.animated.fadeIn(data-id='2')
									img.animated.fadeIn(data-id='3', src="../assets/images/partnership/design.png", alt="Image")
									h3.animated.fadeIn(data-id='4') #{$i18n.partnership.clientType1}
								.flex-item.animated.fadeIn(data-id='2')
									img.animated.fadeIn(data-id='3', src="../assets/images/partnership/e-commerce.png", alt="Image")
									h3.animated.fadeIn(data-id='4') #{$i18n.partnership.clientType3}
								.flex-item.animated.fadeIn(data-id='2')
									img.animated.fadeIn(data-id='3', src="../assets/images/partnership/freelance.png", alt="Image")
									h3.animated.fadeIn(data-id='4') #{$i18n.partnership.clientType5}
								.flex-item.animated.fadeIn(data-id='2')
									img.animated.fadeIn(data-id='3', src="../assets/images/partnership/crm.png", alt="Image")
									h3.animated.fadeIn(data-id='4') #{$i18n.partnership.clientType7}
							.flex-right
								.flex-item.animated.fadeIn(data-id='2')
									img.animated.fadeIn(data-id='3', src="../assets/images/partnership/chat.png", alt="Image")
									h3.animated.fadeIn(data-id='4') #{$i18n.partnership.clientType2}
								.flex-item.animated.fadeIn(data-id='2')
									img.animated.fadeIn(data-id='3', src="../assets/images/partnership/calculator.png", alt="Image")
									h3.animated.fadeIn(data-id='4') #{$i18n.partnership.clientType4}
								.flex-item.animated.fadeIn(data-id='2')
									img.animated.fadeIn(data-id='3', src="../assets/images/partnership/builder.png", alt="Image")
									h3.animated.fadeIn(data-id='4') #{$i18n.partnership.clientType6}
								.flex-item.animated.fadeIn(data-id='2')
									img.animated.fadeIn(data-id='3', src="../assets/images/partnership/bloger.png", alt="Image")
									h3.animated.fadeIn(data-id='4') #{$i18n.partnership.clientType8}
					.steps-block-desktop
						.img-wrapper.animatedParent.animateOnce(data-sequence='100')
							h3.animated.fadeIn(data-id='1') #{$i18n.partnership.howToBlockHeadline}
							img(src="../assets/images/fines/how-to.svg", alt="How to", data-id='2').animated.fadeIn
							.num-wrapper.num-wrapper-1
								.num.animated.fadeIn(data-id='3') 1
								p.animated.fadeIn(data-id='4') #{$i18n.partnership.step1}
							.num-wrapper.num-wrapper-2
								.num.animated.fadeIn(data-id='5') 2
								p.animated.fadeIn(data-id='6') #{$i18n.partnership.step2}
							.num-wrapper.num-wrapper-3
								.num.animated.fadeIn(data-id='7') 3
								p.animated.fadeIn(data-id='8') #{$i18n.partnership.step3}
					.steps-block-tablet.animatedParent.animateOnce(data-sequence='100')
						h3.animated.fadeIn(data-id='1') #{$i18n.partnership.howToBlockHeadline}
						.img-wrapper
							img.animated.fadeIn(data-id='2', src="../assets/images/fines/how-to-tablet.svg", alt="How to")
							.num-wrapper.num-wrapper-1
								.num.animated.fadeIn(data-id='3') 1
								p.animated.fadeIn(data-id='4') #{$i18n.partnership.step1}
							.num-wrapper.num-wrapper-2
								.num.animated.fadeIn(data-id='5') 2
								p.animated.fadeIn(data-id='6') #{$i18n.partnership.step2}
							.num-wrapper.num-wrapper-3
								.num.animated.fadeIn(data-id='7') 3
								p.animated.fadeIn(data-id='8') #{$i18n.partnership.step3}
					.steps-block-mobile.animatedParent.animateOnce(data-sequence='100')
						h3.animated.fadeIn(data-id='1') #{$i18n.partnership.howToBlockHeadline}
						.img-wrapper
							.num-wrapper.num-wrapper-1.animated.fadeIn(data-id='2')
								.num 1
								p #{$i18n.partnership.step1}
							.num-wrapper.num-wrapper-2.animated.fadeIn(data-id='3')
								.num 2
								p #{$i18n.partnership.step2}
							.num-wrapper.num-wrapper-3.animated.fadeIn(data-id='4')
								.num 3
								.flex-block
									p #{$i18n.partnership.step3}
							img.animated.fadeIn(data-id='5', src="../assets/images/fines/how-to-mobile.png", alt="How to")
			.third-block
				.container.main-container
					.flex-block.animatedParent.animateOnce(data-sequence='100')
						.flex-left.animated.fadeIn(data-id='1')
							h1 #{$i18n.partnership.formBlockHeadline}
						.flex-right.animated.fadeIn(data-id='1')
							form(action="../php/partnership-form-mailer.php", method="POST")
								.form-row
									.form-group.col-md-6
										label(for="first-name") #{$i18n.formFields.firstName}*
										input(type="text", name="firstName", class="form-control", id="first-name", placeholder="***", required)
									.form-group.col-md-6
										label(for="last-name") #{$i18n.formFields.lastName}*
										input(type="text", name="lastName", class="form-control", id="last-name", placeholder="***", required)
								.form-row
									.form-group.col-md-6
										label(for="email") #{$i18n.formFields.email}*
										input(type="email", name="email", class="form-control", id="email", placeholder="***", required)
									.form-group.col-md-6
										label(for="phone") #{$i18n.formFields.phone}*
										input(type="text", name="phone", class="form-control", id="phone", placeholder="***", required)
								.form-row
									.form-group.col-md-12
										label(for="website") #{$i18n.formFields.website}*
										input(type="text", name="website", class="form-control", id="website", placeholder="***", required)
								.form-row
									.form-group.col-md-12
										label(for="message") #{$i18n.formFields.message}*
										textarea(name="message", class="form-control", id="message", placeholder="***", cols="30", rows="1")
								.form-row
									input(type="submit" value="Отправить")