//-
	Mixins for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

//- Meta data mixin

mixin meta-data(title, description, href)
	title=title
	meta(name="description", content=description)
	link(rel="canonical", href=href)

//- Header mixin

mixin header(className)
	header.header(class=className)
		.container.animatedParent.animateOnce(data-sequence='500')
			.header-flex.animated.fadeInDown(data-id='1')
				.header-flex-left
					a(href="/", class="site-logo-link")
						img(src="../assets/images/logo/site-logo.png", alt="Logo")
					.menu
						.menu-item
							.menu-trigger#business-trigger Бізнесу
							.sub-menu-wrapper#business-sub-menu
								.triangle
								.sub-menu.business-sub-menu
									a(href="uapay-checkout") UAPAY Checkout
									a(href="mass-payouts") Масові платежі
									a(href="industry-solutions") Галузеві рішення
						.menu-item
							.menu-trigger#user-trigger Користувачу
							.sub-menu-wrapper#user-sub-menu
								.triangle
								.sub-menu.user-sub-menu
									a(href="fines") Штрафи UAPAY
									a(href="javascript:void(0);") Безпечна угода
						.menu-item
							.menu-trigger#company-trigger Компанія
							.sub-menu-wrapper#company-sub-menu
								.triangle
								.sub-menu.company-sub-menu
									a(href="about-us") Про нас
									a(href="news") Новини
									a(href="javascript:void(0);") FAQ
									a(href="javascript:void(0);") Партнерство
									a(href="legal-info") Правова інформація
						.menu-item
							.menu-trigger#developers-trigger Розробникам
							.sub-menu-wrapper#developers-sub-menu
								.triangle
								.sub-menu.developers-sub-menu
									a(href="javascript:void(0);") API
									a(href="javascript:void(0);") Модулі CMS
				.header-flex-right
					a.feedback-link(href="feedback") Зворотний зв'язок
					a.btn-ghost-white(href="javascript:void(0);") Особистий кабінет
					.burger
						.burger-box
							.burger-inner

//- Mobile menu mixin

mixin mobile-menu(className)
	.mobile-menu(class=className)
		.mobile-menu-row
			.mobile-menu-col
				.mobile-menu-trigger Бізнесу
				a(class="mobile-menu-link", href="uapay-checkout") UAPAY Checkout
				a(class="mobile-menu-link", href="mass-payouts") Масові платежі
				a(class="mobile-menu-link", href="industry-solutions") Галузеві рішення
			.mobile-menu-col
				.mobile-menu-trigger Користувачу
				a(class="mobile-menu-link", href="fines") Штрафи UAPAY
				a(class="mobile-menu-link", href="javascript:void(0);") Безпечна угода
			.mobile-menu-col
				.mobile-menu-trigger Розробникам
				a(class="mobile-menu-link", href="javascript:void(0);") API
				a(class="mobile-menu-link", href="javascript:void(0);") Модулі CMS
			.mobile-menu-col
				.mobile-menu-trigger Компанія
				a(class="mobile-menu-link", href="about-us") Про нас
				a(class="mobile-menu-link", href="news") Новини
				a(class="mobile-menu-link", href="javascript:void(0);") FAQ
				a(class="mobile-menu-link", href="javascript:void(0);") Партнерство
				a(class="mobile-menu-link", href="legal-info") Правова інформація
		.accordion-wrapper
			.accordion#mobile-menu-accordion
				.mobile-menu-accordion-item
					#mobile-menu-heading1
						a(class="accordion-headline collapsed", href="javascript:void(0);", role="button", data-toggle="collapse", data-target="#mobile-menu-collapse1", aria-expanded="false", aria-controls="mobile-menu-collapse1")
							span Бізнесу
							i.fas
					.collapse#mobile-menu-collapse1(aria-labelledby="mobile-menu-heading1", data-parent="#mobile-menu-accordion")
						ul.links-wrapper
							li: a(href="uapay-checkout") UAPAY Checkout
							li: a(href="mass-payouts") Масові платежі
							li: a(href="industry-solutions") Галузеві рішення
				.mobile-menu-accordion-item
					#mobile-menu-heading2
						a(class="accordion-headline collapsed", href="javascript:void(0);", role="button", data-toggle="collapse", data-target="#mobile-menu-collapse2", aria-expanded="false", aria-controls="mobile-menu-collapse2")
							span Користувачу
							i.fas
					.collapse#mobile-menu-collapse2(aria-labelledby="mobile-menu-heading2", data-parent="#mobile-menu-accordion")
						ul.links-wrapper
							li: a(href="fines") Штрафи UAPAY
							li: a(href="javascript:void(0);") Безпечна угода
				.mobile-menu-accordion-item
					#mobile-menu-heading3
						a(class="accordion-headline collapsed", href="javascript:void(0);", role="button", data-toggle="collapse", data-target="#mobile-menu-collapse3", aria-expanded="false", aria-controls="mobile-menu-collapse3")
							span Розробникам
							i.fas
					.collapse#mobile-menu-collapse3(aria-labelledby="mobile-menu-heading3", data-parent="#mobile-menu-accordion")
						ul.links-wrapper
							li: a(href="javascript:void(0);") API
							li: a(href="javascript:void(0);") Модулі CMS
				.mobile-menu-accordion-item
					#mobile-menu-heading4
						a(class="accordion-headline collapsed", href="javascript:void(0);", role="button", data-toggle="collapse", data-target="#mobile-menu-collapse4", aria-expanded="false", aria-controls="mobile-menu-collapse4")
							span Компанія
							i.fas
					.collapse#mobile-menu-collapse4(aria-labelledby="mobile-menu-heading4", data-parent="#mobile-menu-accordion")
						ul.links-wrapper
							li: a(href="about-us") Про нас
							li: a(href="news") Новини
							li: a(href="javascript:void(0);") FAQ
							li: a(href="javascript:void(0);") Партнерство
							li: a(href="legal-info") Правова інформація
			a.btn-ghost-white(href="javascript:void(0);") Особистий кабінет
			a.feedback-link(href="feedback") Зворотний зв'язок

//- Preferences block mixin

mixin preferences(className)
	.preferences-block(class=className)
		.container.main-container
			.flex-block.animatedParent.animateOnce(data-sequence='300')
				.flex-item.animated.fadeIn(data-id='1')
					figure
						img(src="./images/about-us/pci-dss.png", alt="Image")
					p.title PCI DSS Level 1
					p.desc 100% відповідність стандартам безпеки платежів
				.flex-item.animated.fadeIn(data-id='2')
					figure
						img(src="./images/about-us/gdpr.png", alt="Image")
					p.title GDPR Compliant
					p.desc Робота з персональними даними чітко регламентована
				.flex-item.animated.fadeIn(data-id='3')
					figure
						img(src="./images/about-us/ukraine.png", alt="Image")
					p.title ВПС
					p.desc Статус внутрішньодержавної платіжної системи
				.flex-item.animated.fadeIn(data-id='4')
					figure
						img(src="./images/about-us/paperless.png", alt="Image")
					p.title Paperless
					p.desc Максимальна підтримка електронного документообігу
				.flex-item.animated.fadeIn(data-id='5')
					figure
						img(src="./images/about-us/structure.png", alt="Image")
					p.title ОПІ
					p.desc Ліцензія оператора платіжної інфраструктури
				.flex-item.animated.fadeIn(data-id='6')
					figure
						img(src="./images/about-us/licence.png", alt="Image")
					p.title Ліцензія НБУ
					p.desc Переказ коштів у національній валюті, без без відкриття рахунків

//- Trust block mixin

mixin trust
	.trust-block
		.container.main-container.animatedParent.animateOnce(data-sequence='100')
			h4.animated.fadeIn(data-id='1') Нам довіряють
			.flex-block.animatedParent.animateOnce(data-sequence='100')
				.flex-item.animated.fadeIn(data-id='1')
					include ../includes/svg/about-us/_1.pug
				.flex-item.animated.fadeIn(data-id='2')
					include ../includes/svg/about-us/_2.pug
				.flex-item.animated.fadeIn(data-id='3')
					include ../includes/svg/about-us/_3.pug
				.flex-item.animated.fadeIn(data-id='4')
					include ../includes/svg/about-us/_4.pug
				.flex-item.animated.fadeIn(data-id='5')
					include ../includes/svg/about-us/_5.pug
				.flex-item.animated.fadeIn(data-id='6')
					include ../includes/svg/about-us/_6.pug
				.flex-item.animated.fadeIn(data-id='7')
					include ../includes/svg/about-us/_7.pug
				.flex-item.animated.fadeIn(data-id='8')
					include ../includes/svg/about-us/_8.pug
				.flex-item.animated.fadeIn(data-id='9')
					include ../includes/svg/about-us/_14.pug
				.flex-item.animated.fadeIn(data-id='10')
					include ../includes/svg/about-us/_10.pug
				.flex-item.animated.fadeIn(data-id='11')
					include ../includes/svg/about-us/_9.pug
				.flex-item.animated.fadeIn(data-id='12')
					include ../includes/svg/about-us/_13.pug
				.flex-item.animated.fadeIn(data-id='13')
					include ../includes/svg/about-us/_12.pug
				.flex-item.animated.fadeIn(data-id='14')
					include ../includes/svg/about-us/_11.pug

//- Developers block mixin

mixin developers(className)
	.developers-block(class=className)
		.container.main-container
			.flex-block.animatedParent.animateOnce(data-sequence='500')
				.flex-left.animated.fadeIn(data-id='1')
					img(src="./images/svg/api-cms.svg", alt="Image")
				.flex-right.animated.fadeIn(data-id='2')
					h4 Розробникам
					p Ми надаємо універсальний платіжний API і готові модулі для CMS-систем, які дозволять дуже швидко і просто підключити оплату на сайті.
					include ../includes/components/_developers-btn.pug

//- Partners block mixin

mixin partners(className)
	.partners-block(class=className)
		.container.main-container
			.flex-block.animatedParent.animateOnce(data-sequence='500')
				.flex-left.animated.fadeIn(data-id='1')
					img(src="./images/svg/percent.svg", alt="Image")
				.flex-right.animated.fadeIn(data-id='2')
					h4 Партнерам
					p Ми завжди відкриті до співпраці з новими партнерами і до надання якісного сервісу широкому спектру клієнтів. Тому для всіх, хто пов'язаний з онлайн-бізнесом, наша партнерська програма дає можливість заробляти на рекомендаціях і підключених клієнтах.
					include ../includes/components/_partnership-btn.pug