//-
	Mixins for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

//- Meta data mixin

mixin meta-data(title, description, href)
	title=title
	meta(name="description", content=description)
	link(rel="canonical", href=href)

//- Header mixin

mixin header(className)
	header.header(class=className)
		.container
			.header-flex.fade-in-down-effect
				.header-flex-left
					a(href="index", class="site-logo-link")
						img(src="../assets/images/logo/site-logo.png", alt="Logo")
					.menu
						.menu-item
							.menu-trigger#business-trigger #{$i18n.headerMenu.col1Title}
							.sub-menu-wrapper#business-sub-menu
								.triangle
								.sub-menu.business-sub-menu
									a(href="uapay-checkout") #{$i18n.headerMenu.col1Link1}
									a(href="mass-payouts") #{$i18n.headerMenu.col1Link2}
									a(href="industry-solutions") #{$i18n.headerMenu.col1Link3}
						.menu-item
							.menu-trigger#user-trigger #{$i18n.headerMenu.col2Title}
							.sub-menu-wrapper#user-sub-menu
								.triangle
								.sub-menu.user-sub-menu
									a(href="fines") #{$i18n.headerMenu.col2Link1}
									a(href="https://escrowbox.uapay.ua/ad", target="_blank") #{$i18n.headerMenu.col2Link2}
						.menu-item
							.menu-trigger#company-trigger #{$i18n.headerMenu.col3Title}
							.sub-menu-wrapper#company-sub-menu
								.triangle
								.sub-menu.company-sub-menu
									a(href="about-us") #{$i18n.headerMenu.col3Link1}
									//a(href="news") #{$i18n.headerMenu.col3Link2}
									a(href="faq") #{$i18n.headerMenu.col3Link3}
									a(href="partnership") #{$i18n.headerMenu.col3Link4}
									a(href="legal-info") #{$i18n.headerMenu.col3Link5}
						.menu-item
							.menu-trigger#developers-trigger #{$i18n.headerMenu.col4Title}
							.sub-menu-wrapper#developers-sub-menu
								.triangle
								.sub-menu.developers-sub-menu
									a(href="https://uapayua.atlassian.net/wiki/spaces/AC/pages/753795086", target="_blank") #{$i18n.headerMenu.col4Link1}
									a(href="https://uapayua.atlassian.net/wiki/spaces/AC/pages/753795086", target="_blank") #{$i18n.headerMenu.col4Link2}
				.header-flex-right
					a.feedback-link(href="feedback") #{$i18n.headerMenu.feedback}
					a.btn-ghost-white(href="https://account.uapay.ua/auth/register", target="_blank") #{$i18n.headerMenu.userAccount}
					.languages 
						span.current-lang#current-lang #{$i18n.footerIntro.currentLang}
						.lang-items
							.sub-menu
								a(href="javascript:void(0);", onclick="switchToUaLocale()") UA
								a(href="javascript:void(0);", onclick="switchToRuLocale()") RU
								a(href="javascript:void(0);", onclick="switchToEnLocale()") EN
					.burger
						.burger-box
							.burger-inner

//- Mobile menu mixin

mixin mobile-menu(className)
	.mobile-menu(class=className)
		+header
		.mobile-menu-row
			.mobile-menu-col
				.mobile-menu-trigger #{$i18n.headerMenu.col1Title}
				a(class="mobile-menu-link", href="uapay-checkout") #{$i18n.headerMenu.col1Link1}
				a(class="mobile-menu-link", href="mass-payouts") #{$i18n.headerMenu.col1Link2}
				a(class="mobile-menu-link", href="industry-solutions") #{$i18n.headerMenu.col1Link3}
			.mobile-menu-col
				.mobile-menu-trigger #{$i18n.headerMenu.col2Title}
				a(class="mobile-menu-link", href="fines") #{$i18n.headerMenu.col2Link1}
				a(class="mobile-menu-link", href="https://escrowbox.uapay.ua/ad", target="_blank") #{$i18n.headerMenu.col2Link2}
			.mobile-menu-col
				.mobile-menu-trigger #{$i18n.headerMenu.col3Title}
				a(class="mobile-menu-link", href="about-us") #{$i18n.headerMenu.col3Link1}
				//a(class="mobile-menu-link", href="news") #{$i18n.headerMenu.col3Link2}
				a(class="mobile-menu-link", href="faq") #{$i18n.headerMenu.col3Link3}
				a(class="mobile-menu-link", href="partnership") #{$i18n.headerMenu.col3Link4}
				a(class="mobile-menu-link", href="legal-info") #{$i18n.headerMenu.col3Link5}
			.mobile-menu-col
				.mobile-menu-trigger #{$i18n.headerMenu.col4Title}
				a(class="mobile-menu-link", href="https://uapayua.atlassian.net/wiki/spaces/AC/pages/753795086", target="_blank") #{$i18n.headerMenu.col4Link1}
				a(class="mobile-menu-link", href="https://uapayua.atlassian.net/wiki/spaces/AC/pages/753795086", target="_blank") #{$i18n.headerMenu.col4Link2}
		.accordion-wrapper
			.accordion#mobile-menu-accordion
				.mobile-menu-accordion-item
					#mobile-menu-heading1
						a(class="accordion-headline collapsed", href="javascript:void(0);", role="button", data-toggle="collapse", data-target="#mobile-menu-collapse1", aria-expanded="false", aria-controls="mobile-menu-collapse1")
							span #{$i18n.headerMenu.col1Title}
							i.fas
					.collapse#mobile-menu-collapse1(aria-labelledby="mobile-menu-heading1", data-parent="#mobile-menu-accordion")
						ul.links-wrapper
							li: a(href="uapay-checkout") #{$i18n.headerMenu.col1Link1}
							li: a(href="mass-payouts") #{$i18n.headerMenu.col1Link2}
							li: a(href="industry-solutions") #{$i18n.headerMenu.col1Link3}
				.mobile-menu-accordion-item
					#mobile-menu-heading2
						a(class="accordion-headline collapsed", href="javascript:void(0);", role="button", data-toggle="collapse", data-target="#mobile-menu-collapse2", aria-expanded="false", aria-controls="mobile-menu-collapse2")
							span #{$i18n.headerMenu.col2Title}
							i.fas
					.collapse#mobile-menu-collapse2(aria-labelledby="mobile-menu-heading2", data-parent="#mobile-menu-accordion")
						ul.links-wrapper
							li: a(href="fines") #{$i18n.headerMenu.col2Link1}
							li: a(href="https://escrowbox.uapay.ua/ad", target="_blank") #{$i18n.headerMenu.col2Link2}
				.mobile-menu-accordion-item
					#mobile-menu-heading3
						a(class="accordion-headline collapsed", href="javascript:void(0);", role="button", data-toggle="collapse", data-target="#mobile-menu-collapse3", aria-expanded="false", aria-controls="mobile-menu-collapse3")
							span #{$i18n.headerMenu.col3Title}
							i.fas
					.collapse#mobile-menu-collapse3(aria-labelledby="mobile-menu-heading3", data-parent="#mobile-menu-accordion")
						ul.links-wrapper
							li: a(href="about-us") #{$i18n.headerMenu.col3Link1}
							//li: a(href="news") #{$i18n.headerMenu.col3Link2}
							li: a(href="faq") #{$i18n.headerMenu.col3Link3}
							li: a(href="javascript:void(0);") #{$i18n.headerMenu.col3Link4}
							li: a(href="legal-info") #{$i18n.headerMenu.col3Link5}
				.mobile-menu-accordion-item
					#mobile-menu-heading4
						a(class="accordion-headline collapsed", href="javascript:void(0);", role="button", data-toggle="collapse", data-target="#mobile-menu-collapse4", aria-expanded="false", aria-controls="mobile-menu-collapse4")
							span #{$i18n.headerMenu.col4Title}
							i.fas
					.collapse#mobile-menu-collapse4(aria-labelledby="mobile-menu-heading4", data-parent="#mobile-menu-accordion")
						ul.links-wrapper
							li: a(href="https://uapayua.atlassian.net/wiki/spaces/AC/pages/753795086", target="_blank") #{$i18n.headerMenu.col4Link1}
							li: a(href="https://uapayua.atlassian.net/wiki/spaces/AC/pages/753795086", target="_blank") #{$i18n.headerMenu.col4Link2}
			a.btn-ghost-white(href="https://account.uapay.ua/auth/register", target="_blank") #{$i18n.headerMenu.userAccount}
			a.feedback-link(href="feedback") #{$i18n.headerMenu.feedback}

//- Preferences block mixin

mixin preferences(className)
	.preferences-block(class=className)
		.container.main-container
			.flex-block.animatedParent.animateOnce(data-sequence='100')
				.flex-item.animated.fadeIn(data-id='1')
					figure: img(src="../assets/images/about-us/pci-dss.png", alt="Image")
					p.title #{$i18n.preferencesBlock.preference1Title}
					p.desc #{$i18n.preferencesBlock.preference1Desc}
				.flex-item.animated.fadeIn(data-id='2')
					figure: img(src="../assets/images/about-us/gdpr.png", alt="Image")
					p.title #{$i18n.preferencesBlock.preference2Title}
					p.desc #{$i18n.preferencesBlock.preference2Desc}
				.flex-item.animated.fadeIn(data-id='3')
					figure: img(src="../assets/images/about-us/ukraine.png", alt="Image")
					p.title #{$i18n.preferencesBlock.preference3Title}
					p.desc #{$i18n.preferencesBlock.preference3Desc}
				.flex-item.animated.fadeIn(data-id='4')
					figure: img(src="../assets/images/about-us/paperless.png", alt="Image")
					p.title #{$i18n.preferencesBlock.preference4Title}
					p.desc #{$i18n.preferencesBlock.preference4Desc}
				.flex-item.animated.fadeIn(data-id='5')
					figure: img(src="../assets/images/about-us/structure.png", alt="Image")
					p.title #{$i18n.preferencesBlock.preference5Title}
					p.desc #{$i18n.preferencesBlock.preference5Desc}
				.flex-item.animated.fadeIn(data-id='6')
					figure: img(src="../assets/images/about-us/licence.png", alt="Image")
					p.title #{$i18n.preferencesBlock.preference6Title}
					p.desc #{$i18n.preferencesBlock.preference6Desc}

//- Trust block mixin

mixin trust
	.trust-block
		.container.main-container.animatedParent.animateOnce(data-sequence='50')
			h4.animated.fadeIn(data-id='1') #{$i18n.trustBlock.blockHeadline}
			.flex-block
				.flex-block-row
					.flex-item.animated.fadeIn(data-id='2')
						include ../includes/svg/about-us/_1.pug
					.flex-item.animated.fadeIn(data-id='3')
						include ../includes/svg/about-us/_2.pug
					.flex-item.animated.fadeIn(data-id='4')
						include ../includes/svg/about-us/_3.pug
					.flex-item.animated.fadeIn(data-id='5')
						include ../includes/svg/about-us/_4.pug
				.flex-block-row
					.flex-item.animated.fadeIn(data-id='6')
						include ../includes/svg/about-us/_5.pug
					.flex-item.animated.fadeIn(data-id='7')
						include ../includes/svg/about-us/_6.pug
					.flex-item.animated.fadeIn(data-id='8')
						include ../includes/svg/about-us/_7.pug
				.flex-block-row
					.flex-item.animated.fadeIn(data-id='9')
						include ../includes/svg/about-us/_8.pug
					.flex-item.animated.fadeIn(data-id='10')
						include ../includes/svg/about-us/_14.pug
					.flex-item.animated.fadeIn(data-id='11')
						include ../includes/svg/about-us/_10.pug
					.flex-item.animated.fadeIn(data-id='12')
						include ../includes/svg/about-us/_9.pug
				.flex-block-row
					.flex-item.animated.fadeIn(data-id='13')
						include ../includes/svg/about-us/_13.pug
					.flex-item.animated.fadeIn(data-id='14')
						include ../includes/svg/about-us/_12.pug
					.flex-item.animated.fadeIn(data-id='15')
						include ../includes/svg/about-us/_11.pug
			.flex-block-mobile
				.flex-block-row
					.flex-item.animated.fadeIn(data-id='2')
						include ../includes/svg/about-us/_1.pug
					.flex-item.animated.fadeIn(data-id='3')
						include ../includes/svg/about-us/_2.pug
					.flex-item.animated.fadeIn(data-id='4')
						include ../includes/svg/about-us/_3.pug
				.flex-block-row
					.flex-item.animated.fadeIn(data-id='5')
						include ../includes/svg/about-us/_4.pug
					.flex-item.animated.fadeIn(data-id='6')
						include ../includes/svg/about-us/_5.pug
					.flex-item.animated.fadeIn(data-id='7')
						include ../includes/svg/about-us/_6.pug
				.flex-block-row
					.flex-item.animated.fadeIn(data-id='8')
						include ../includes/svg/about-us/_7.pug
					.flex-item.animated.fadeIn(data-id='9')
						include ../includes/svg/about-us/_8.pug
					.flex-item.animated.fadeIn(data-id='10')
						include ../includes/svg/about-us/_14.pug
				.flex-block-row
					.flex-item.animated.fadeIn(data-id='11')
						include ../includes/svg/about-us/_10.pug
					.flex-item.animated.fadeIn(data-id='12')
						include ../includes/svg/about-us/_9.pug
					.flex-item.animated.fadeIn(data-id='13')
						include ../includes/svg/about-us/_13.pug
				.flex-block-row
					.flex-item.animated.fadeIn(data-id='14')
						include ../includes/svg/about-us/_12.pug
					.flex-item.animated.fadeIn(data-id='15')
						include ../includes/svg/about-us/_11.pug

//- Developers block mixin

mixin developers(className, src)
	.developers-block(class=className)
		.container.main-container
			.flex-block.animatedParent.animateOnce(data-sequence='100')
				.flex-left.animated.fadeIn(data-id='1')
					img(src=src, alt="Image")
				.flex-right.animated.fadeIn(data-id='1')
					h4 #{$i18n.developersBlock.blockHeadline}
					p #{$i18n.developersBlock.blockContent}
					include ../includes/components/_developers-btn.pug

//- Partners block mixin

mixin partners(className)
	.partners-block(class=className)
		.container.main-container
			.flex-block.animatedParent.animateOnce(data-sequence='100')
				.flex-left.animated.fadeIn(data-id='1')
					img(src="../assets/images/svg/percent.svg", alt="Image")
				.flex-right.animated.fadeIn(data-id='1')
					h4 #{$i18n.partnersBlock.blockHeadline}
					p #{$i18n.partnersBlock.blockContent}
					include ../includes/components/_partnership-btn.pug